<h1>Hi! confirm your mail!</h1>

<p>
    <br><br>
    <a href="{{ signedUrl }}">Confirm your mail!</a>.
    This link expires in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
