{% extends 'base.html.twig' %}

{% block title %}Réinitialise ton mot de passe{% endblock %}

{% block laPhoto %}{% endblock %}

{% block body %}
    <p>
        
        If an account matching your email exists, an email has just been sent containing a link you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you do not receive an email, please check your spam folder or This link will expire in<a href="{{ path('app_forgot_password_request') }}">essaye encore</a>.</p>
{% endblock %}
