{% extends 'base.html.twig' %}

{% block title %}Hello SnowtricksController!{% endblock %}

{% block laPhoto %}

{% endblock %}

{% block body %}
<div class="container ">
    <h2 class="text-center p-2">Forgot password</h2>
    <form class="border border-dark p-3 " action="" method="post">
        <!-- pseudo input -->
        <div class="form-outline pt-2">
            <label class="form-label" for="form4Example2">Pseudo : </label>
            <input type="text" name="pseudo" id="form4Example2" class="form-control" />
        </div>
        <!-- Submit button -->
        <div class="pt-2 ">
            <button type="submit" class="btn btn-primary btn-block ">Reset my password</button>
        </div>
    </form>
</div>
{% endblock %}

