{% extends 'base.html.twig' %}

{% block title %}Edit Snowtricks{% endblock %}

{% block laPhoto %}

{% endblock %}

{% block body %}

    <a href="{{ path('snow_index') }}">back to list</a>
    <div class="d-flex">
        <h1>Edit Snowtricks</h1>
        {{ include('snow/_delete_form.html.twig') }}
    </div>

    {{ include('snow/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
